
.list{
padding-top: 30px;
padding-bottom: 20px;
}

a{
    font-size: 15px;

    line-height: 22px;
    color : blue($color: #0b1057);
}

.right{
    display: block;
    
    text-align: right;
    padding-bottom: 50px;
}
