@import '@carbon/colors/scss/colors';
@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/type';
@import '@carbon/grid/scss/grid';


body{
  background-color : whitesmoke;
}

.page-header {
    padding-top: $carbon--spacing-10;
    padding-bottom: $carbon--spacing-05;
    padding-left: $carbon--spacing-05;
    background-color: $carbon--blue-70;
    color: $carbon--white-0;
    @include properties($heading-01);
    font-size: carbon--type-scale(10);
    // svg matches any <svg> (icon) inside of .page-header
    svg {
        fill: $carbon--blue-10;
    }

    background-color: whitesmoke;
}

a{
  text-align: left;
  text-decoration: none;
}

// usage: <span class="current-breakpoint-name" />
@each $bp in map-keys($carbon--grid-breakpoints) {
    @include carbon--breakpoint-up($bp, $carbon--grid-breakpoints) {
        .current-breakpoint-name::before {
            content: '#{$bp}';
        }
    }
}

.signIn{
  color: white;

  font-size: 13px;
}

a{
  text-decoration: none;

  font-size: 20px;
  color: black;
}

.Main{
  font-weight: bold;
}

.container{
  border : 1px solid;

  margin-bottom: 50px;
  padding-bottom: 30px;
}
.foot{
	padding: 10px ;

	// position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color   : white;
	color : $carbon--blue-100;
   
  padding-left: 80px;
}


.react-multi-carousel-list{
  margin-top: 5px;
  margin-bottom: 20px;

  // border : 1px solid;
}


